*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android Studio metadata accidentally created at the android-client root
/weight-smart-android-client/AndroidProjectSystem.xml
/weight-smart-android-client/misc.xml
/weight-smart-android-client/modules.xml
/weight-smart-android-client/workspace.xml
/weight-smart-android-client/caches/
/weight-smart-android-client/libraries/
/weight-smart-android-client/modules/
